{
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "settings": {
      "import/resolver": "webpack"
  },
  "rules": {
      no-console: ["error", { allow: ["warn", "error", "info"] }],
      max-len: ["error", { "code": 128 }],
      "no-underscore-dangle": 0
  }
}
